/* Basic Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5efe6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    font-family: sans-serif;
}

.container {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    position: relative;
}

/* Screens */

.screen {
    display: none; /* Initially set them to hide, unless ACTIVE */
    padding: 2rem;
    text-align: center;
}

.screen.active {   /* Putting no space between the classes selects elements with both classses. */
    display: block;
}

/* Start screen */

#start-screen h1 {
    color: #e86a33;
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.quiz-header {
    margin-bottom: 30px;
}

#question-text {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 1.4;
}

.quiz-info {
    display: flex;
    justify-content: space-between;   /* Used space betwen, as there are 2 elements we want pushed away from on another. */
    color: #666;
    font-size: 1rem;
    margin-bottom: 10px;
}

.answers-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
}

.answer-btn {
    background-color: #f8f0e5;
    color: #333;
    border: 2px solid #eadbc8;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    text-align: left;
    transition: all 0.3s;
}

.answer-btn:hover {
    background-color: #eadbc8;
    border-color: #dac0ae;
}